:root {
    --main-blue: #355389;
    --main-light-blue: #86B2F3;
    --white-grey: #F2F2F2
}
.body{
    width: 100%;
    text-align: center;
    font-family: 'Gothic A1', sans-serif;
    margin-bottom: 80px; /* para el footer */
    margin-top: 90px; /* para el footer */
    overflow: scroll;
}
.titleContainer {
    text-align: center;
}
h2{
    margin-top: 10%;
}



.formGroup{
    margin: 5%;
}
input{
    border-radius: 15px;
    border: 1px solid black;
    border-color: var(--main-blue);
}
.btn1{
    background-color: var(--main-blue);
    color: white;
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 7px;
    width: 40%;
}
.btn2{
    background-color: var(--main-blue);
    color: white;
    padding: 3%;
    border-radius: 7px;
    width: 55%;
    font-size: smaller;
}
.btn-wrapper{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
button {
    box-shadow: none;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25%;
    
}
input{
    padding: 2%;
    padding-left: 5%;

}

/*  */
.materia-container{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-around;
    margin-bottom: 10%;

}
.materia-container-pr{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
  
    margin-bottom: 10%;

}
.icon-img{
    font-size: 50px;
    width: 25%;
}
.blue-header{
    
    background-color: var(--main-blue);
    color: white;
    padding:5%;
    text-align: left;
    margin-bottom: 10%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
p{
    margin: 0
}
.btn3-grey{
    background-color: var(--white-grey);
 /*    color: white; */
    padding: 3%;
    border-radius: 7px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: smaller;
    box-shadow: none;
}
.text-left{
    text-align: left;
}
.text-left-pr{
    text-align: left;
    width: 80%;
}
/* .footer{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 0;
    padding-bottom: 5%;
    padding-top: 5%;
    border-top: 1px solid var(--main-blue);
    background-color: var(--main-light-blue);
}
.footer-icon{
    font-size: 22px;
} */
.detalle-curso {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
   
    margin-bottom: 10%;
}
.detalle-curso-icon{
    padding-left: 4%;
    padding-right: 4%;
}

/* AGREGAR a Styles raso */

/* Style for the options container */
.options {
    display: flex;
    flex-direction: column;
}

/* Style for each checkbox option */
.option {
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Style for the checkbox input */
.option input[type="checkbox"] {
    display: none;
}

/* Style for the custom checkmark */
.checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid var(--main-blue);
    border-top: none;
    border-right: none;
    transform: rotate(45deg);
    margin-right: 10px;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Hover effect for the custom checkmark */
.option:hover .checkmark {
    background-color: var(--main-blue);
    border-color: var(--main-blue);
}

/* Selected effect for the custom checkmark */
.option input[type="checkbox"]:checked + .checkmark {
    background-color: var(--main-blue);
    border-color: var(--main-blue);
}

/* Style for the text label */
.option label {
    font-size: 18px;
}


/* Style for the options container */
.options {
    display: flex;
    flex-direction: column;
}

/* Style for each radio option */
.option {
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Style for the radio button input */
.option input[type="radio"] {
    display: none;
}

/* Style for the custom radio button */
.radio-custom {
    width: 20px;
    height: 20px;
    border: 2px solid var(--main-blue);
    border-radius: 50%;
    margin-right: 10px;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Hover effect for the custom radio button */
.option:hover .radio-custom {
    background-color: var(--main-blue);
    border-color: var(--main-blue);
}

/* Selected effect for the custom radio button */
.option input[type="radio"]:checked + .radio-custom {
    background-color: var(--main-blue);
    border-color: var(--main-blue);
}

/* Style for the text label */
.option label {
    font-size: 18px;
}

textarea {
    resize: none;
}
a  {
    color: black;
    text-decoration: none;
}

.container-favoritos{
    width: 100%;
    min-height: 90vh;
}

.favoritos-miscursos{
    width: 100%;
    height: 95px;
    padding: 20px;
    display: flex;
    align-items: center;justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.486);
}

.favoritos-miscursos h3{
    font-weight: 600; font-size: 22px;
}

.buscar-cursos{
    width: 100%;
    border-radius: 0.3em;
    text-align: center;font-size: 20px;
    border: 1px solid var(--blue);
    color: var(--blue);
}

.buscar-cursos:focus{
    outline: none;
}


.container-perfil{
    height:87vh;
    width: 100%;;
}
.title-box{
    background-color: var(--blue);
    width: 100%;
    height: 75px;color: white;
    display: flex;align-items: center;justify-content: flex-start;padding-left: 20px;
}

.perfil-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top:20px;
}

.perfil-info h3, .perfil-info h4{
    margin: 0;
    
    font-weight: 600;
}
.perfil-info h4{
    font-weight: 500;
}

.botones-perfil{
    height:200px;display: flex;flex-direction: column;justify-content: space-evenly;width: 70%;margin-top: 50px;
}
h5{
    font-weight: bold !important;
    font-size:18px !important;
}
.imagen-redonda {
    border: 6px solid var(--main-blue); /* Establece el borde azul de 2 píxeles */
    border-radius: 50%; /* Hace que la imagen sea redonda */
    object-fit: cover; /* Escala la imagen para llenar el espacio del círculo */
    height: 155px;
    width: 155px;
}
#marginTop{
    margin-top: 110px;
}
.btnForm{
    margin: 3px 0;
}
.labelForm{
    border-radius: 15px;
    border: 1px solid  var(--main-blue);
    
    margin: 1%;
    margin-right: 3%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: var(--white-grey);
    width: 80%;
}
.errorText{
    color:red;
    text-align: left;
    
  }
.errorPadding{
    margin-left: '30px';
}
  .modal {
    align-self: center;
    margin-top: '100px';
  }

  .dropdown{

    padding: 10px;
    border-radius: 15px;
    border-color: var(--main-blue);
    position: initial;
  }
.resultados{
    margin-top: 5%;
}
.btn3{
    background-color: var(--main-blue);
    color: white;
    padding: 3%;
    border-radius: 7px;
    width: 30%;
    font-size: smaller;
    margin-left: 3%;
}
.modalFooter{
    margin-top: 80px;
}
/* .preguntasCurso{
    margin-top: 7%;
} */
.preguntaCurso{
    margin-top: 7%;
    width: 100%;
}
.opcionPregunta{
    margin-top: 2%;
    display: flex;
    font-size: 15px;
    justify-content: center;
    
}
.apiResponse{
    margin: '15px 10px';
    font-size: '16px';
    line-height: '1.6',
}
.inputCheck{
    margin-right: 3%;
    vertical-align: top;
    align-self: baseline;
    margin-top: 2%;
}